
# design
RewriteEngine On
RewriteBase /jquery-imageUploader/
RewriteCond %{REQUEST_URI} !/jquery-imageUploader/dist
RewriteCond %{REQUEST_URI} !/jquery-imageUploader/git-hook.php
RewriteRule ^(.*)$ dist/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /jquery-imageUploader/ [L,R=301]

